<div class="basic-grey">
  <h1>Seja bem-vindo ao Deliveryizza!</h1>
  
  <ul>
    <li><%= link_to "Categoria", categories_path %></li>
    <li><%= link_to "Ambiente", environments_path %></li>
    <li><%= link_to "Tipo de Pagamento", paymenttypes_path %></li>
    <li><%= link_to "Pagamento", payments_path %></li>
    <li><%= link_to "Mesa", boards_path %></li>
    <li><%= link_to "Reserva", reservations_path %></li>
    <li><%= link_to "Produto", products_path %></li>
  </ul>
</div>
