<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<p>
  <strong>Number:</strong>
  <%= @board.number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @board.status %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @board.environment %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
