<p id="notice"><%= notice %></p>

<h1>Listing Payments</h1>

<table>
  <thead>
    <tr>
      <th>Numberrequest</th>
      <th>Discount</th>
      <th>Numbernote</th>
      <th>Amount</th>
      <th>Paymenttype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.numberrequest %></td>
        <td><%= payment.discount %></td>
        <td><%= payment.numbernote %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.paymenttype %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
