<p id="notice"><%= notice %></p>

<p>
  <strong>Numberrequest:</strong>
  <%= @payment.numberrequest %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @payment.discount %>
</p>

<p>
  <strong>Numbernote:</strong>
  <%= @payment.numbernote %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Paymenttype:</strong>
  <%= @payment.paymenttype %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
