<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @environment.description %>
</p>

<p>
  <strong>Numberboard:</strong>
  <%= @environment.numberboard %>
</p>

<%= link_to 'Edit', edit_environment_path(@environment) %> |
<%= link_to 'Back', environments_path %>
