<%= form_for(@paymenttype) do |f| %>
  <% if @paymenttype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paymenttype.errors.count, "error") %> prohibited this paymenttype from being saved:</h2>

      <ul>
      <% @paymenttype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :numberplots %><br>
    <%= f.number_field :numberplots %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
