<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @paymenttype.type %>
</p>

<p>
  <strong>Numberplots:</strong>
  <%= @paymenttype.numberplots %>
</p>

<p>
  <strong>Status:</strong>
  <%= @paymenttype.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @paymenttype.date %>
</p>

<%= link_to 'Edit', edit_paymenttype_path(@paymenttype) %> |
<%= link_to 'Back', paymenttypes_path %>
